$bg-color: #fff4d5;
$text-default: #2c3a47;
$accent-color: #e17055;
$font-family: Arial;
$font-size: 16px;
$line-height: 150%;
$medium-screens: 767px;
$large-screens: 1024px;

@mixin mediumScreen {
  @media only screen and (min-width: $medium-screens) {
    @content;
  }
}

@mixin largeScreen {
  @media only screen and (min-width: $large-screens) {
    @content;
  }
}
