.grocery-list {
  .wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
  }

  .product-container {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .product {
    background-color: $bg-color;
    border: 4px solid;
    border-top: none;
    border-left: none;
    border-color: $accent-color;
    padding: 8px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .product-qty {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
    font-weight: bold;
  }

  .product-header {
    font-size: 2em;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    border-color: gray;
  }

  .product-description {
    padding-bottom: 2em;
    font-weight: bold;
  }

  .product-footer {
    margin-top: auto;
  }

  .uppercase {
    text-transform: uppercase;
  }

  /* Medium Screen */
  @media only screen and (min-width: 767px) {
    .wrapper {
      justify-content: center;
    }

    .product-container {
      padding: 0 15px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .product {
      width: 23%;
    }

    .product:hover {
      box-shadow: 0 0 20px #ccc;
      transition: ease-in-out;
      transition-duration: 0.1s;
      border-top-left-radius: 1em;
      border-bottom-right-radius: 1em;
      transform: rotate(1deg);
    }
  }

  /* Large Screen */
  @media only screen and (min-width: 1024px) {
    .product-container {
      flex-grow: 0;
      width: 980px;
    }
  }
}
