@import 'config';
@import 'header';
@import 'grocery-list';

@mixin noSpace {
  margin: 0;
  padding: 0;
}

* {
  @include noSpace();
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-default;
}

.bg-default {
  background-color: $bg-color;
}

.text-default {
  color: $text-default !important;
}

.accent-border {
  border-color: $accent-color !important;
}

.accent-text {
  color: $accent-color !important;
}

.bold {
  font-weight: bold;
}
