@import 'config';
@import 'header';
@import 'grocery-list';

@mixin noSpace {
  margin: 0;
  padding: 0;
}

* {
  @include noSpace();
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-default;
}

.bold {
  font-weight: bold;
}
